/*
* There are some styles that are hardcoded, like font-size in pixels, line-height, font-weight, colors, etc..
* Doing this now to go fast
*/

/* 
Setting a wrapper for now to avoid affecting the other demos.
It should be done in the body to affect all pages && demos
*/
.premium-benefits-wrapper {
  padding: 40px 0;
  background-color: #fafafa;
  min-height: 100vh;
}

.premium-benefits-wrapper--initial {
  max-width: 642px;
}

.premium-benefits-wrapper--results {
  max-width: 750px;
}

.premium-benefits-container {
  margin: 0 auto;
}

.premium-benefits-header {
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 32px;
}

.premium-benefits-header h1 {
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  color: #0a0a0a;
  margin-bottom: 4px;
}

.premium-benefits-header p {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #4b5865;
}

.premium-benefits-action-toolbar__button {
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 8px;
  box-shadow: 0px 1px 2px 0px hsla(0, 0%, 0%, 0.051);
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  height: 40px;
}

.premium-benefits-action-toolbar__button--primary {
  background-color: #09090b;
  color: #ffffff;
}

.premium-benefits-action-toolbar__button--secondary {
  background-color: #f5f5f5;
  color: #09090b;
}

.premium-benefits-action-toolbar__button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
