@import 'tailwindcss';

@plugin 'tailwindcss-animate';

:root {
  --background: oklch(1 0 0);
  --foreground: var(--primaryForeground, #4b5865);
  --card: oklch(1 0 0);
  --card-foreground: var(--primaryForeground, #4b5865);
  --popover: var(--primaryBackground, #ffffff);
  --popover-foreground: var(--primaryForeground, #4b5865);
  --primary: var(--primaryBackground, #ffffff);
  --primary-foreground: var(--primaryForeground, #4b5865);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --accent: var(--accentBackground, #e3e9ef);
  --accent-foreground: var(--accentForeground, #0f1419);
  --destructive-default-mix: color-mix(
    in srgb,
    var(--destructive-foreground) 10%,
    white 90%
  );
  --destructive: var(--dangerBackground, var(--destructive-default-mix));
  --destructive-foreground: var(--dangerForeground, #d92020);
  --border: var(--borderInput, '#9aa6b2');
  --input: var(--borderInput, '#9aa6b2');
  --ring: oklch(0.708 0 0);
  --radius: var(--borderRadius, 0.625rem);
}

@theme inline {
  --muted-foreground: var(--primary-foreground);
  /* --font-roboto: 'Roboto', sans-serif; */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 2px);
  --radius-xxl: calc(var(--radius) + 4px);
  --text-xs: calc(var(--fontSizeBase) * 0.75);
  --text-sm: calc(var(--fontSizeBase) * 0.875);
  --text-base: var(--fontSizeBase, 1rem);
  --text-xl: calc(var(--fontSizeBase) * 1.25);
  --text-2xl: calc(var(--fontSizeBase) * 1.375);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
