@import 'tailwindcss';

:root {
  --background: oklch(1 0 0);
  --foreground: var(--primaryForeground, #4b5865);
  --card: var(--primaryBackground, #ffffff);
  --card-foreground: var(--primaryForeground, #4b5865);
  --popover: var(--primaryBackground, #ffffff);
  --popover-foreground: var(--primaryForeground, #4b5865);
  --primary: var(--primaryBackground, #ffffff);
  --primary-foreground: var(--primaryForeground, #364452);
  --badge: var(--primaryForeground, #364452);
  --badge-foreground: var(--primaryBackground, #ffffff);
  --radio: var(--primaryForeground, #364452);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --accent: var(--accentBackground, #e3e9ef);
  --accent-foreground: var(--accentForeground, #0f1419);
  --destructive: var(--danger, #d92020);
  --destructive-foreground: var(--danger, #d92020);
  --border: var(--borderInput, #9aa6b2);
  --input: var(--borderInput, #9aa6b2);
  --ring: oklch(0.708 0 0);
  --radius: var(--borderRadius, 0.625rem);
  --focused: var(--borderRadius, #0061ff);
  --fontBase: var(--fontSizeBase, 1rem);
  --link-button: var(--foreground, #4b5865);
  --checkbox-background: var(--checkboxBackground, #0f1419);
}

@theme inline {
  --muted-foreground: var(--primary-foreground);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-base-color: var(--base);
  --color-ring: var(--ring);
  --color-focused: var(--focused);
  --color-badge: var(--badge);
  --color-badge-foreground: var(--badge-foreground);
  --color-link-button-primary: var(--link-button);
  --color-radio: var(--radio);
  --color-checkbox: var(--checkbox-background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 2px);
  --radius-xxl: calc(var(--radius) + 4px);
  --text-xs: calc(var(--fontBase) * 0.75);
  --text-sm: calc(var(--fontBase) * 0.875);
  --text-base: var(--fontBase, 1rem);
  --text-ls: var(--fontBase, 1.125rem);
  --text-xl: calc(var(--fontBase) * 1.25);
  --text-2xl: calc(var(--fontBase) * 1.5);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
